.signInFormContainer {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signInCard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 400px;
}

.signInCardHeading h2 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.signInForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.signInUserName, .signInPassword {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #aaa;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.signInBtn {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.passwordWrapper {
    position: relative;
    width: 100%;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.fas.fa-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
}

.fas.fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #ff0000;
}
